<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>谷粒商城</title>
  <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="/static/index/css/GL.css">
  <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/static/index/js/swiper-3.4.2.min.js"></script>

</head>

<body>
<div class="top_find">
  <div class="top_find_son">
    <img src="/static/index/img/top_find_logo.png" alt="">
    <div class="input_find">
      <input type="text" placeholder="卸妆水" />
      <span style="background: url(/static/index/img/img_12.png) 0 -1px;"></span>
      <a href="#"><img src="/static/index/img/img_09.png" /></a>
    </div>
  </div>
</div>
<ul class="left_floor">
  <li class="left_floor_xiang">享品质</li>
  <li class="left_floor_fu">服饰美妆</li>
  <li class="left_floor_jia">家电手机</li>
  <li class="left_floor_dian">电脑数码</li>
  <li class="left_floor_3C">3C运动</li>
  <li class="left_floor_ai">爱吃</li>
  <li class="left_floor_mu">母婴家居</li>
  <li class="left_floor_tu">图书汽车</li>
  <li class="left_floor_you">游戏金融</li>
  <li class="left_floor_lv">旅行健康</li>
  <li class="left_floor_hai">还没逛够</li>
  <li class="left_floor_ding">顶部</li>
</ul>
<header>
  <!--头部-->
  <div class="header_head">
    <div class="header_head_box">
      <!-- 商城图标 -->
      <a href="#" class="img"><img src="/static/index/img/logo.jpg" /></a>
      <ul>
        <li>
          <a th:if="${session.loginUser != null}">欢迎, [[${session.loginUser.nickname}]]</a>
          <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html">你好，请登录</a>
        </li>
        <li>
          <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html" class="li_2">免费注册</a>
        </li>
        <li>
          <a th:if="${session.loginUser != null}" href="http://auth.gulimall.com/loguot.html" class="li_2">立即退出</a>
        </li>
        <span>|</span>
        <li>
          <a href="http://member.gulimall.com/memberOrder.html">我的订单</a>
        </li>
      </ul>
    </div>
  </div>
  <!--搜索导航-->
  <div class="header_sous">
    <div class="header_form">
      <input id="searchText" type="text" placeholder="" />
      <!--<button><i class="glyphicon"></i></button>-->
      <a href="javascript:search();" ><img src="/static/index/img/img_09.png" /></a>
    </div>
    <div class="header_ico">
      <div class="header_gw">
        <img src="/static/index/img/img_15.png" />
        <span><a href="http://cart.gulimall.com/cart.html">我的购物车</a></span>
        <span>0</span>
      </div>
      <div class="header_ko">
        <p>购物车中还没有商品，赶紧选购吧！</p>
      </div>
    </div>
  </div>
  <!--轮播主体内容-->
  <div class="header_main">
    <div class="header_banner">
      <div class="header_main_left">
        <ul>
          <li  th:each="category : ${categories}">
            <a href="#" class="header_main_left_a"   th:attr="ctg-data = ${category.catId}"><b th:text="${category.name}">家用电器</b></a>
          </li>
        </ul>
      </div>
      <div class="header_main_center">
        <div class="swiper-container swiper1">
          <div class="swiper-wrapper">
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
      </div>
    </div>
    <div class="header_banner1">
      <div class="header_banner1_div">
        <p>X</p>
      </div>
    </div>
  </div>
</header>

<div class="section_second">
  <!-- 第一层 -->
  <div class="section_second_header">
    <p class="section_second_header_img"></p>
    <div class="section_second_header_left">
      <p></p>
      <span class="">秒杀</span>
      <span>总有你想不到的低价</span>
      <span>
        </span>
    </div>
    <div class="section_second_header_right">
      <p>当前场次</p>
      <span class="section_second_header_right_hours">00</span>
      <span class="section_second_header_right_mao">：</span>
      <span class="section_second_header_right_minutes">00</span>
      <span class="section_second_header_right_mao">：</span>
      <span class="section_second_header_right_second">00</span>
      <p>后结束</p>
    </div>
  </div>
  <div class="section_second_list">
    <div class="swiper-container swiper_section_second_list_left">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- 动态拼装秒杀商品信息 -->
          <ul id="seckillSkuContent"></ul>
        </div>
        <div class="swiper-slide">
          <ul>
            <li>
              <img src="/static/index/img/section_second_list_img6.jpg" alt="">
              <p>Apple iMac 21.5英寸一体机（2017新款四核Core i5 处理器/8GB内存/1TB/RP555显卡/4K屏 MNDY2CH/A） Apple iMac 21.5英寸一体机（2017新款四核Core i5 处理</p>
              <span>¥9588.00</span><s>¥10288.00</s>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-prev second_list">
        <p></p>
      </div>
      <div class="swiper-button-next second_list">
        <p></p>
      </div>
    </div>
  </div>


</div>



</body>
<script type="text/javascript">
  function search() {
    var keyword=$("#searchText").val()
    window.location.href="http://search.gulimall.com/list.html?keyword="+keyword;
  }

  $.get("http://seckill.gulimall.com/getCurrentSeckillSkus", function (res) {
    if (res.data.length > 0) {
      res.data.forEach(function (item) {
        $("<li onclick='toDetail(" + item.skuId + ")'></li>").append($("<img style='width: 130px; height: 130px' src='" + item.skuInfo.skuDefaultImg + "' />"))
                .append($("<p>"+item.skuInfo.skuTitle+"</p>"))
                .append($("<span>" + item.seckillPrice + "</span>"))
                .append($("<s>" + item.skuInfo.price + "</s>"))
                .appendTo("#seckillSkuContent");
      })
    }
  })

  function toDetail(skuId) {
    location.href = "http://item.gulimall.com/" + skuId + ".html";
  }

</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>