<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <link rel="stylesheet" type="text/css" href="/static/item/scss/shop.css"/>
    <link rel="stylesheet" type="text/css" href="/static/item/scss/jd.css"/>
    <link rel="stylesheet" href="/static/item/scss/header.css"/>
    <link rel="stylesheet" type="text/css" href="/static/item/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div id="max">
    <header>
        <!--品牌官方网站-->
        <div class="min">
            <ul class="header_ul_left">
                <li><a href="http://gulimall.com/" class="aa">商城首页</a></li>
            </ul>
            <ul class="header_ul_right">
                <li style="border: 0;">
                    <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html"
                       class="aa">你好，请登录</a>
                    <a th:if="${session.loginUser != null}">欢迎, [[${session.loginUser.nickname}]]</a>
                </li>
                <li>
                    <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html"
                       style="color: red;">免费注册</a>
                </li>
                <li><a href="http://member.gulimall.com/memberOrder.html" class="aa">我的订单</a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="nav_min">
            <div class="nav_top">
                <div class="nav_top_one"><a href="http://gulimall.com"><img src="/static/item/img/111.png"/></a></div>
                <div class="nav_top_two"><input type="text"/>
                    <button>搜索</button>
                </div>
                <div class="nav_top_three"><a href="http://cart.gulimall.com/cart.html">我的购物车</a><span
                        class="glyphicon glyphicon-shopping-cart"></span>
                    <div class="nav_top_three_1">
                        <img src="/static/item/img/44.png"/>购物车还没有商品，赶紧选购吧！
                    </div>
                </div>
            </div>
</div>
<div class="Shop">
    <div class="box">
        <div class="box-one ">
            <div class="boxx">

                <div class="imgbox">
                    <div class="probox">
                        <img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
                        <div class="hoverbox"></div>
                    </div>
                    <div class="showbox">
                        <img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
                    </div>
                </div>

                <div class="box-lh">

                    <div class="box-lh-one">
                        <ul>
                            <li th:each="img : ${item.images}"><img th:src="${img.imgUrl}"/></li>
                        </ul>
                    </div>
                    <div id="left">
                        <
                    </div>
                    <div id="right">
                        >
                    </div>

                </div>
            </div>
            <div class="box-two">
                <div class="box-name" th:text="${item.info.skuTitle}">
                    华为 HUAWEI Mate 10 6GB+128GB 亮黑色 移动联通电信4G手机 双卡双待
                </div>
                <div class="box-hide" th:text="${item.info.skuSubtitle}">预订用户预计11月30日左右陆续发货！麒麟970芯片！AI智能拍照！
                    <a href="/static/item/"><u></u></a>
                </div>
                <div class="box-summary clear">
                    <ul>
                        <li>商城价</li>
                        <li>
                            <span>￥</span>
                            <span th:text="${#numbers.formatDecimal(item.info.price,3,2)}">4499.00</span>
                        </li>
                        <li style="color: red" th:if="${item.seckillSkuVo != null}">

                            <span th:if="${#dates.createNow().getTime() < item.seckillSkuVo.startTime}">
                                商品将会在[[${#dates.format(new java.util.Date(item.seckillSkuVo.startTime),"yyyy-MM-dd HH:mm:ss")}]]进行秒杀
                            </span>

                            <span th:if="${#dates.createNow().getTime() >= item.seckillSkuVo.startTime && #dates.createNow().getTime() <= item.seckillSkuVo.endTime}">
                                秒杀价  [[${#numbers.formatDecimal(item.seckillSkuVo.seckillPrice,1,2)}]]
                            </span>

                        </li>
                    </ul>
                </div>
                <div class="box-stock">
                    <ul class="box-ul">
                        <li>配送至</li>
                        <!-- 查询当前用户地址 -->
                        <li class="box-stock-li">
                            <div class="box-stock-one">
                                北京朝阳区管庄
                                <img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img"/>
                            </div>
                        </li>
                        <li>
                            <span th:text="${item.hasStock?'有货':'无货'}">无货</span>
                        </li>
                    </ul>
                </div>
                <div class="box-attr-3">
                    <div class="box-attr clear" th:each="attr : ${item.saleAttr}">
                        <dl>
                            <dt>选择[[${attr.attrName}]]</dt>
                            <dd th:each="val : ${attr.attrValues}">
                                <a th:attr=" class=${#lists.contains(#strings.listSplit(val.skuIds,','),item.info.skuId.toString())
                                   ? 'sku_attr_value checked': 'sku_attr_value'}, skus=${val.skuIds} "
                                >
                                    [[${val.attrValue}]]
                                    <!--											<img src="/static/item/img/59ddfcb1Nc3edb8f1.jpg" /> -->
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <!--							<div class="box-attr-2 clear">-->
                    <!--								<dl>-->
                    <!--									<dt>选择版本</dt>-->
                    <!--									<dd>-->
                    <!--										<a href="/static/item/#">标准版</a>-->
                    <!--									</dd>-->
                    <!--									<dd>-->
                    <!--										<a href="/static/item/#">套装版</a>-->
                    <!--									</dd>-->
                    <!--								</dl>-->
                    <!--							</div>-->

                    <!--							<div class="box-attr-2 clear">-->
                    <!--								<dl>-->
                    <!--									<dt>选择内存</dt>-->
                    <!--									<dd>-->
                    <!--										<a href="/static/item/#">64GB</a>-->
                    <!--									</dd>-->
                    <!--									<dd>-->
                    <!--										<a href="/static/item/#">128GB</a>-->
                    <!--									</dd>-->
                    <!--								</dl>-->
                    <!--							</div>-->
                </div>

                <div class="box-btns clear">
                    <div class="box-btns-one">
                        <input type="text" name="" id="productNum" value="1"/>
                        <div class="box-btns-one1">

                            <div>
                                <button id="jia">
                                    +
                                </button>
                            </div>
                            <div>
                                <button id="jian">
                                    -
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="box-btns-two"
                         th:if="${item.seckillSkuVo == null }">
                        <a class="addToCart" href="#" th:attr="skuId=${item.info.skuId}">
                            加入购物车
                        </a>
                    </div>

                    <div class="box-btns-two"
                         th:if="${item.seckillSkuVo != null && (#dates.createNow().getTime() >= item.seckillSkuVo.startTime && #dates.createNow().getTime() <= item.seckillSkuVo.endTime)}">
                        <a class="seckill" href="#"
                           th:attr="skuId=${item.info.skuId},sessionId=${item.seckillSkuVo.promotionSessionId},code=${item.seckillSkuVo.randomCode}">
                            立即抢购
                        </a>
                    </div>

                </div>
                </div>
            </div>

        </div>
    </div>


            <!--商品详情-->
            <div class="huawei">
                <ul class="xuanxiangka">
                    <li class="jieshoa actives" id="li1">
                        <div class="shanpinsssss">
                            <!--									<p>-->
                            <!--										<a href="/static/item/#">品牌:华为（HUAWEI）</a>-->
                            <!--									</p>-->
                            <!--									<table>-->
                            <!--										<tr>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">商品名称：华为Mate 10</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">商品毛重：0.58kg</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">商品编号：5544038</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">商品产地：中国大陆</a>-->
                            <!--											</td>-->
                            <!--										</tr>-->
                            <!--										<tr>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">系统：安卓（Android）</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">前置摄像头像素：800万-1599万</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">后置摄像头像素：2000万及以上，1200万-1999万</a>-->
                            <!--											</td>-->
                            <!--											<td>-->
                            <!--												<a href="/static/item/##">机身内存：128GB</a>-->
                            <!--											</td>-->
                            <!--										</tr>-->
                            <!--										<tr>-->
                            <!--											<td colspan="4">-->
                            <!--												<a href="/static/item/##">全面屏，双卡双待，指纹识别，Type-C，VoLTE，2K屏，拍照神器，支持NFC，商务手机，安全手机，分辨率10</a>-->
                            <!--											</td>-->
                            <!--										</tr>-->
                            <!--									</table>-->
                            <img class="xiaoguo" th:src="${descp}"
                                 th:each="descp : ${#strings.listSplit(item.desc.decript,',')}"/>
                            <!--                            <div class="guiGebox guiGebox1">-->
                            <!--                                <div class="guiGe">-->
                            <!--                                    <h3 th:text="guige.groupName"></h3>-->
                            <!--                                    <dl>-->
                            <!--                                        <dt>品牌</dt>-->
                            <!--                                        <dd>华为(HUAWEI)</dd>-->
                            <!--                                        <dt>型号</dt>-->
                            <!--                                        <dd class="Ptable-tips">-->
                            <!--                                            <a href="/static/item/#"><i>？</i></a>-->
                            <!--                                        </dd>-->
                            <!--                                        <dd>ALP-AL00</dd>-->
                            <!--                                        <dt>入网型号</dt>-->
                            <!--                                        <dd class="Ptable-tips">-->
                            <!--                                            <a href="/static/item/#"><i>？</i></a>-->
                            <!--                                        </dd>-->
                            <!--                                        <dd>ALP-AL00</dd>-->
                            <!--                                        <dt>上市年份</dt>-->
                            <!--                                        <dd>2017年</dd>-->
                            <!--                                        <dt>上市时间</dt>-->
                            <!--                                        <dd>10月</dd>-->
                            <!--                                    </dl>-->
                            <!--                                </div>-->
                            <!--                                <div class="package-list">-->
                            <!--                                    <h3>包装清单</h3>-->
                            <!--                                    <p>手机（含内置电池） X 1、5A大电流华为SuperCharge充电器X 1、5A USB数据线 X 1、半入耳式线控耳机 X 1、快速指南X 1、三包凭证 X-->
                            <!--                                        1、取卡针 X 1、保护壳 X 1</p>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </li>
                    <li class="baozhuang actives" id="li2">
                    <li class="baozhuang actives" id="li2">
                        <div class="guiGebox">
                            <div class="guiGe" th:each="group : ${item.groupAttrs}">
                                <h3 th:text="${group.groupName}">主体</h3>
                                <dl>
                                    <div th:each="attr : ${group.attrs}">
                                        <dt th:text="${attr.attrName}">品牌</dt>
                                        <dd th:text="${attr.attrValue}">华为(HUAWEI)</dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </li>

                    </div>
</div>
<div class="Fixedbian">
    <ul>
        <li class="li1"><a class="aaa" href="/static/item/##">顶部</a></li>
    </ul>
</div>
<div class="gouwuchexiaguo">
    <img src="/static/item/img/44.png"/>
    <span>购物车还没有商品，赶紧选购吧！</span>
</div>
</body>

<script src="/static/item/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/item/js/js.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
</script>

<script>
    $(".sku_attr_value").click(function () {
        // 1、点击的元素添加上自定义的属性
        let skus = new Array();
        let curr = $(this).attr("skus").split(",");

        $(this).parent().parent().find(".sku_attr_value").removeClass("checked");
        $(this).addClass("checked");
        changeCheckedStyle();

        $("a[class='sku_attr_value checked']").each(function () {
            skus.push($(this).attr("skus").split(","));
        });

        let filterEle = skus[0];
        for (let i = 1; i < skus.length; i++) {
            filterEle = $(filterEle).filter(skus[i])[0];
        }

        location.href = "http://item.gulimall.com/" + filterEle + ".html";

        return false;
    });
    $(function () {
        changeCheckedStyle();
    });

    function changeCheckedStyle() {
        $(".sku_attr_value").parent().css({"border": "solid 1px #ccc"});
        $("a[class='sku_attr_value checked']").parent().css({"border": "solid 1px red"});
    };


    $(".addToCart").click(function () {
        let skuId = $(this).attr("skuId");
        let num = $("#productNum").val();
        location.href = "http://cart.gulimall.com/addCartItem?skuId=" + skuId + "&num=" + num;
        return false;
    });

    $(".seckill").click(function () {
        var isLogin = [[${session.loginUser != null}]];     //true
        if (isLogin) {
            var killId = $(this).attr("sessionid") + "-" + $(this).attr("skuid");
            var code = $(this).attr("code");
            var num = $("#productNum").val();
            location.href = "http://seckill.gulimall.com/kill?killId=" + killId + "&key=" + code + "&num=" + num;
        } else {
            alert("秒杀请先登录");
        }
        return false;
    });

</script>

</html>
